* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smootthing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: white;
  max-width: 100vh;
  max-width: 100vw;
}
#app {
  background-color: #0b0911;
  display: flex;
  justify-content: space-between; 
}

h1 {
  margin-bottom: 8px;
  font-family: "Inter", sans-serif;
}

p {
  max-width: 808px;
  margin-bottom: 68px;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #b5b4b8;
}

main {
  padding: 107px 77px;
}
 
table {
  border-radius: 8px;
  background: #1c162c;
  max-width: 958px;
}

tr {
  display: flex;
}
th,
tr {
  color: #fff;

  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 400;
}

th {
  padding: 25px;
  display: flex;
  width: 280px;
  justify-content: center;
}
th#coluna {
  width: 84px;
  padding: 10px 27px;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

th.cursor,
td.cursor {
  width: 84px;
}

td {
  background-color: #0b0911;
  width: 280px;
  display: flex;
  justify-content: center;
  padding-block-start: 32px;
}

button {
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 24px;
  background-color: #8257e5;

  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
img {
  width: 15px;
}
.primary {
  background-color: #8257e5;
}
.primary-hover:hover {
  background-color: #9674e5;
}

.primary-focus:focus {
  border: 2px solid #d9cdf7;
  background: #8257e5;
}

.secundary {
  background-color: #3c3748;
}
.secundary-hover:hover {
  background-color: #6a617f;
}

.secundary-focus:focus {
  border: 2px solid #d9cdf7;
}

.tertiary {
  background: transparent;
}

.tertiary-hover:hover {
  background: #1c162c;
}

.tertiary-focus:focus {
  border: 2px solid #d9cdf7;
}

.disabled {
  cursor: no-drop;
  opacity: 0.56;
}
.movable {
  cursor: move;
}
.last-row {
  margin-bottom: 32px;
}
.loading {
  cursor: progress;
}
aside {
  width: 27%;
  padding: 107px 44px;
  background-color: #130f1e;
}

aside .text-aside {
  width: 318px;
}

aside .buttons-aside {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

aside button {
  display: flex;
  align-items: center;
  width: 317px;
  justify-content: center;
  cursor: pointer;
}
